<%= form_for @bookmark do |f| %>

<%= render 'error_messages' %>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :link %><br>
  <%= f.text_field :link %>
</p>
<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
