- if @bookmark.errors.any?
  = render 'error_messages'

= form_for @bookmark, role: 'form', class: 'form-horizontal',
  action: '/autotitle/create' do |f|
  -# action: '/autotitle/create' doesn't override form_for @bookmark
  .form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :link, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :link, class: 'form-control'

  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      =f.text_field :description, class: 'form-control'

  .col-sm-offset-2.col-sm-10
    %button.btn.btn-success.btn-sm Submit
    = link_to 'Back', bookmarks_path, class: 'btn btn-info btn-sm'
